files:
  "/opt/elasticbeanstalk/support/code_optimize.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      php /var/app/current/artisan horizon:install
      php /var/app/current/artisan config:cache
      php /var/app/current/artisan route:cache
      php /var/app/current/artisan view:cache
      php /var/app/current/artisan horizon:purge
      php /var/app/current/artisan horizon:terminate

  "/opt/elasticbeanstalk/hooks/appdeploy/post/code_optimize.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      /opt/elasticbeanstalk/support/code_optimize.sh

  "/opt/elasticbeanstalk/hooks/configdeploy/post/code_optimize.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      /opt/elasticbeanstalk/support/code_optimize.sh