option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_KEY
    value: base64:HlNdbfBy8lCS/LkypWgcwy3HD8hLxTvSQxnP4q54TOg=
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_ENV
    value: prod
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_NAME
    value: thesnor
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_DEBUG
    value: true
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_URL
    value: http://localhost