files:
  "/etc/httpd/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine on

      ## Redirect to https
      RewriteCond %{HTTPS} !=on
      RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]
      RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_laravel_env_vars.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/env ruby
      require 'json'

      EB_APP_STAGING_DIR = `/opt/elasticbeanstalk/bin/get-config  container -k app_staging_dir`

      if __FILE__ == $0
        env_file = "#{EB_APP_STAGING_DIR}/.env"
        env_vars = JSON.parse(`/opt/elasticbeanstalk/bin/get-config environment`)

        if env_vars.empty?
          cmd = "cp #{EB_APP_STAGING_DIR}/.env.example #{EB_APP_STAGING_DIR}/.env"
          `#{cmd}`
        else
          str = ''
          env_vars.each do |key, value|
            new_key = key.gsub(/\s/, '_')
            str << "#{new_key}=\"#{value}\"\n"
          end
          File.open(env_file, 'w') { |f| f.write(str) }
        end
      end

  "/opt/elasticbeanstalk/hooks/configdeploy/enact/03_laravel_env_vars.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/env ruby
      require 'json'

      EB_APP_STAGING_DIR = '/var/app/current'

      if __FILE__ == $0
        env_file = "#{EB_APP_STAGING_DIR}/.env"
        env_vars = JSON.parse(`/opt/elasticbeanstalk/bin/get-config environment`)

        str = ''
        env_vars.each do |key, value|
          new_key = key.gsub(/\s/, '_')
          str << "#{new_key}=\"#{value}\"\n"
        end

        File.open(env_file, 'w') { |f| f.write(str) }
      end

  "/etc/cron.d/run_laravel_scheduler":
    mode: "000644"
    owner: root
    group: root
    content: |
      SHELL=/bin/bash
      PATH=/sbin:/bin:/usr/sbin:/usr/bin
      MAILTO=root
      HOME=/

      * * * * * webapp cd /var/app/current && php artisan schedule:run >> /dev/null 2>&1
