files:
  "/opt/elasticbeanstalk/support/install-supervisor.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      pip install supervisor
      rm echo_supervisord_conf
      mv /usr/local/bin/supervisord /usr/bin
      mv /usr/local/bin/supervisorctl /usr/bin
      mv /usr/local/bin/pidproxy /usr/bin
      ln -s /usr/bin/supervisord /etc/init.d/supervisord
      supervisord

  "/opt/elasticbeanstalk/hooks/postinit/install-supervisor.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      /opt/elasticbeanstalk/support/install-supervisor.sh

  "/etc/supervisord.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      [unix_http_server]
      file=/tmp/supervisor.sock   ; the path to the socket file

      [supervisord]
      logfile=/tmp/supervisord.log ; main log file; default $CWD/supervisord.log
      logfile_maxbytes=50MB        ; max main logfile bytes b4 rotation; default 50MB
      logfile_backups=10           ; # of main logfile backups; 0 means none, default 10
      loglevel=info                ; log level; default info; others: debug,warn,trace
      pidfile=/tmp/supervisord.pid ; supervisord pidfile; default supervisord.pid
      nodaemon=false               ; start in foreground if true; default false
      minfds=1024                  ; min. avail startup file descriptors; default 1024
      minprocs=200                 ; min. avail process descriptors;default 200

      [rpcinterface:supervisor]
      supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

      [supervisorctl]
      serverurl=unix:///tmp/supervisor.sock ; use a unix:// URL  for a unix socket

      [program:horizon]
      process_name=%(program_name)s
      command=php /var/app/current/artisan horizon
      autostart=true
      autorestart=true
      user=webapp
      umask=000
      redirect_stderr=true
      stdout_logfile=/var/app/current/storage/logs/horizon.log
