option_settings:
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public
  - namespace: aws:elasticbeanstalk:command
    option_name: DeploymentPolicy
    value: Rolling
  - namespace: aws:elasticbeanstalk:command
    option_name: BatchSizeType
    value: Fixed
  - namespace: aws:elasticbeanstalk:command
    option_name: BatchSize
    value: 1