files:
  "/opt/elasticbeanstalk/hooks/postinit/set-timezone.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      ln -f -s /usr/share/zoneinfo/UTC /etc/localtime
  "/opt/elasticbeanstalk/hooks/configdeploy/post/set-timezone.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      ln -f -s /usr/share/zoneinfo/UTC /etc/localtime
  "/opt/elasticbeanstalk/hooks/appdeploy/post/set-timezone.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      ln -f -s /usr/share/zoneinfo/UTC /etc/localtime
  "/opt/elasticbeanstalk/hooks/restartappserver/post/set-timezone.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      ln -f -s /usr/share/zoneinfo/UTC /etc/localtime